<div class="container">
   <h1>Larry Usually Brewing Co.</h1>
   <h1>Admin Page</h1>
   <h3>Tap Room Selection</h3>
  <div class="newDrank">
    <button (click)="addKeg()">Add that Drank</button>
  </div>
   <ul>
     <li *ngFor="let currentKeg of kegs">{{currentKeg.name}} from {{currentKeg.brand}}. ${{currentKeg.price}} per keg. {{currentKeg.abv}}% alcohol content</li>
   </ul>
   <hr>
   <div *ngIf='selectedKeg'>
     <h2>{{selectedKeg.brand}}'s {{selectedKeg.name}}</h2>
     <h3>Edit Keg</h3>
     <label>Enter Keg brand:</label>
     <input type="text" [(ngModel)]='selectedKeg.brand'><br>
     <label>Enter Keg name:</label>
     <input type="text" [(ngModel)]='selectedKeg.name'><br>
     <label>Enter Keg price:</label>
     <input type="number" [(ngModel)]='selectedKeg.price'><br>
     <label>Enter Keg abv:</label>
     <input type="text" [(ngModel)]='selectedKeg.abv'><br>
     <button (click)='finishedEditing()'>Save</button>
   </div>
</div>
